.wrapper {
	padding: 0 3rem;
}
nav {
	float: left;
	width: 5cm;
	margin-right: 2rem;
	height: 10cm;
}
section {
	display: block;
	overflow: hidden;
	height: 10cm;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #2980b9;
	color: #fff;
	font-family: Helvetica;
	text-align: center;
	margin: 0;
}

header,
nav,
section {
	border: 1px solid rgba(255, 255, 255, 0.8);
	margin-bottom: 10px;
	border-radius: 3px;
}

header {
	padding: 10px 0;
}

nav,
section {
	padding: 100px 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #2980b9;
	color: #fff;
	font-family: Helvetica;
	text-align: center;
	margin: 0;
}
